{{/*
  This template renders all Webmentions (comments, likes, etc.)
  that have been fetched at build-time into /data/comments.json.
  
  (v6 - Reverts to a "plain-text-only" version for stability)
*/}}

{{ $allComments := .Site.Data.comments.children }}
{{ $pageComments := where $allComments "wm-target" .Permalink }}

{{/* [FIX] Only render comments that have text content */}}
{{ $textComments := where $pageComments ".content.text" "!=" "" }}

{{ if $textComments }}
<section class="comments card" aria-labelledby="comments-heading">
  <h2 id="comments-heading">Webmentions</h2>
  
  <ul class="comment-list">
    {{ range $textComments }}
    <li class="comment h-cite">
      
      <header class="comment-header">
        <div class="comment-author p-author h-card">
          {{ with .author.photo }}
          <img class="u-photo" src="{{ . }}" alt="">
          {{ end }}
          <a class="p-name u-url" href="{{ .author.url | default .url }}" target="_blank" rel="noopener noreferrer">
            {{ .author.name | default "Anonymous" }}
          </a>
        </div>
        <time class="dt-published" datetime="{{ .published }}">
          {{ (time .published).Format "Jan 2, 2006 at 3:04 PM" }}
        </time>
      </header>
      
      <div class="e-content p-content">
        {{/*
          This renders *only* the plain text.
          This is the most secure and stable method.
        */}}
        <p>{{ .content.text | plainify }}</p>
      </div>
      
      <a class="comment-source u-url" href="{{ .url }}" target="_blank" rel="noopener noreferrer" aria-label="View original comment">
        (Source)
      </a>
      
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
