<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display.swap" rel="stylesheet">
    
    {{ $style := resources.Get "scss/main.scss" | toCSS }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet">

    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js" defer></script>
    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ 
          element: "#search",
          showSubResults: true,
          showEmptyFilters: false
        });
      });
    </script>

    {{/* --- [NEW] Webmention Links --- */}}
    {{/* These tell other sites where to send notifications */}}
    {{ if .IsPage }}
    <link rel="webmention" href="https://webmention.io/simplygregario.us/webmention" />
    <link rel="pingback" href="https://webmention.io/simplygregario.us/xmlrpc" />
    {{ end }}
</head>
