{{ define "main" }}

<header class="page-header">
  <div class="headline-row">
    {{ partial "ui/chip.html" . }}
    <h1 class="p-name">Guestbook</h1>
  </div>
</header>

<section class="guestbook-intro outlined-card h-entry">
  <div style="display: none;">
     <div class="p-author h-card"><a href="{{ .Site.BaseURL }}" class="u-url p-name">{{ .Site.Params.author.name }}</a></div>
     {{/* FIX: Add text content to the anchor */}}
     <a href="{{ .Permalink }}" class="u-url">Permalink</a>
     <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date }}</time>
     {{ range .Params.tags }}<span class="p-category">{{ . }}</span>{{ end }}
  </div>

  <div class="e-content">
    <p class="lead">{{ .Site.Params.webmentions.guestbookIntro }}</p>
    {{ .Content }}
  </div>

  {{/* UNIVERSAL SYNDICATION PARTIAL */}}
  {{ partial "syndication.html" . }}
</section>

{{ partial "share-buttons.html" . }}

{{ partial "webmentions-card.html" (dict 
    "context" . 
    "target" .Site.BaseURL 
    "title" "Signatures" 
    "description" "This guestbook is powered by Webmentions. Write a post on your own site and link to this page to appear here!"
    "extraClasses" "h-feed"
) }}

{{ end }}
