<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <a class="skip-link" href="#main-content">Skip to content</a>

  {{ partial "header.html" . }}

  <main id="main-content" role="main" class="container">
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}

  {{/* BUNDLE: Webmentions + YouTube + Menu + Copy Code */}}
  {{ $js := slice (resources.Get "js/webmentions.js") (resources.Get "js/youtube-lite.js") (resources.Get "js/menu.js") (resources.Get "js/copy-code.js") | resources.Concat "js/main.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}" defer></script>
</body>
</html>
